<mat-accordion class="example-headers-align">
  <mat-expansion-panel class="main" [expanded]="expansionModuleExpanded">
    <mat-expansion-panel-header>
      <mat-panel-title> Create New </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="itemForm">
      <mat-form-field>
        <mat-label>Alany:</mat-label>
        <input
          matInput
          placeholder="*NAME"
          [formControl]="itemForm.controls.name"
          required
        />
        @if (itemForm.get('name')?.hasError('required')) {
        <mat-error>Add meg az alany nevét!</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Állítmány:</mat-label>
        <textarea
          matInput
          placeholder="*DESCRIPTION"
          [formControl]="itemForm.controls.description"
          required
        ></textarea>
        @if (itemForm.get('description')?.hasError('required')) {
        <mat-error>Add meg az állítmányt!</mat-error>
        }
      </mat-form-field>

      <input type="file" disabled />
      <div class="btn-wrapper">
        <button mat-flat-button color="primary" (click)="onSend()">Send</button>
        <button mat-flat-button color="warn" (click)="accordion().closeAll()">
          Cancel
        </button>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>
