<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel class="main">
    <mat-expansion-panel-header>
      <mat-panel-title> Create New </mat-panel-title>
    </mat-expansion-panel-header>
    <form>
      <label for="name">Alany neve:</label>
      <input type="text" placeholder="*NAME" id="name" />
      <label for="description">Leírás:</label>
      <input type="textarea" placeholder="*DESCRIPTION" id="description" />
      <input type="file" />
      <div class="btn-wrapper">
        <button mat-flat-button color="primary">Send</button>
        <button mat-flat-button color="warn">Cancel</button>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>
