<div class="wrapper">
  <div class="sidebar categories-wrapper">
    <ul>
      <li><button mat-stroked-button color="primary">Humoros</button></li>
      <li><button mat-stroked-button color="primary">Köcsög</button></li>
      <li><button mat-stroked-button color="primary">Macska</button></li>
    </ul>
  </div>
  <div class="main-content-wrapper">
    <app-create-content></app-create-content>
    <app-content-display></app-content-display>
  </div>
  <div class="sidebar user-display">
    <ul>
      <li>Humoros</li>
      <li>Köcsög</li>
      <li>Macska</li>
    </ul>
  </div>
</div>
