nav,
.menu-items {
  display: flex;
  justify-content: space-around;
}
nav {
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: white;
  .logo {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
  }
  .menu-items {
    gap: 30px;
    align-items: center;
  }
  a {
    text-decoration: none;
    color: black;
    font-size: 1.4em;
    &::after {
      content: "";
      width: 0;
      height: 1px;
      display: block;
      background-color: black;
      transition: width 0.3s ease;
    }
    &:hover::after {
      width: 100%;
    }
  }
}

.dashboard-wrapper {
  margin-top: 80px;
}
